<div class="buffer-section">
  <a href="#"><%= link_to list.name, list_path(list) %>
  <% if current_user_can_edit?(list) %>
    <%= link_to(fa_icon('edit'), edit_list_path(list)) %>
    <% unless list.books.any? %>
      <%= link_to(
              fa_icon('trash'), list_path(list),
              method: :delete, data: {confirm: t('view.message.sure')}
          ) %>
    <% end %>
  <% end %>
    <span class="badge pull-right badge-list"><%= BookList.where(list: list).map(&:book).count %></span>
  </a>
</div>
