<div class="buffer-section">
  <%= link_to list.name, list_path(list) %>
  <%= link_to(fa_icon('edit'), edit_list_path(list)) %>
  <% unless list.books.any? %>
      <%= link_to(
              fa_icon('trash'), list_path(list),
              method: :delete, data: {confirm: t('view.message.sure')}
          ) %>
  <% end %>
</div>
