<div class="buffer-section">
  <a href="#"><%= link_to section.name, section_path(section) %>
  <% if current_user_is_admin? %>
      <%= link_to(fa_icon('edit'), edit_section_path(section)) %>
      <% if Book.where(section: section) == [] %>
        <%= link_to(
               fa_icon('trash'), section_path(section),
               method: :delete, data: {confirm: t('view.message.sure')}
        ) %>
      <% end %>
  <% end %>
    <span class="badge pull-right badge-section"><%= Book.where(section: section).count %></span>
  </a>
</div>