<div class="col-md-9 col-md-3">
<div class="row" >
<div class="thumbnail">
  <div class="thumbnail-inner">
    <div class="book-img">
      <%= link_to image_tag(book_img(book)), book_path(book) %>
    </div>
  </div>
  <div class="book-title">
    <div><%= book.title %></div>
    <%= book.author %>
  </div>
</div>
</div>
</div>