<div class="thumbnail">
  <div class="thumbnail-inner book-info-inner">
    <div class="caption align_middle">
      <%= link_to image_tag(book_img(book)), book_path(book) %>

    </div>
  </div>
  <div><%= book.title %></div>
  <div><%= book.author %></div>
</div>