<h1>Новая книга</h1>

<div class="row">
  <div class="col-md-6 buffer-section">
    <p>(для поиска книги в сети введите название книги(можно не полностью)
      и фамилию автора, нажмите <strong>поиск книги</strong>)</p>
    <%= render 'form' %>
  </div>
</div>
